.u-section-1 .u-sheet-1 {
  min-height: 130px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 42px 65px 24px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 581px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 39px auto 0 66px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 20px 0 0 66px;
}

.u-section-2 .u-image-1 {
  width: 466px;
  height: 341px;
  margin: 10px auto 0 66px;
}

.u-section-2 .u-image-2 {
  width: 438px;
  height: 341px;
  margin: -341px 77px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0 217px;
}

.u-section-2 .u-text-4 {
  margin: -26px 221px 29px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-4 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    margin-bottom: 60px;
    margin-left: 163px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 166px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 17px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 16px;
  }

  .u-section-2 .u-image-1 {
    width: 274px;
    height: 209px;
    margin-top: 36px;
    margin-left: 16px;
  }

  .u-section-2 .u-image-2 {
    height: 229px;
    width: 286px;
    margin-top: 90px;
    margin-right: auto;
    margin-left: 16px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -312px;
    margin-bottom: 0;
    margin-left: 55px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 297px;
    margin-right: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 933px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 16px 1006px 0 66px;
}

.u-section-3 .u-image-1 {
  width: 257px;
  height: 306px;
  margin: 23px auto 0 574px;
}

.u-section-3 .u-image-2 {
  width: 398px;
  height: 306px;
  margin: -306px auto 0 73px;
}

.u-section-3 .u-image-3 {
  width: 266px;
  height: 306px;
  margin: -306px auto 0 839px;
}

.u-section-3 .u-text-2 {
  margin: 8px 245px 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: 23px 703px 0 66px;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  margin: -48px 137px 0 570px;
}

.u-section-3 .u-image-4 {
  width: 398px;
  height: 296px;
  margin: 24px auto 0 73px;
}

.u-section-3 .u-image-5 {
  width: 408px;
  height: 296px;
  margin: -297px 162px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 830px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 674px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 580px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 37px;
    margin-left: 470px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 636px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 463px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 20px;
    margin-left: 454px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 188px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 444px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 287px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 477px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 283px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 274px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 141px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 333px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-left: 107px;
  }

  .u-section-3 .u-image-5 {
    margin-right: 132px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1749px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -59px;
    margin-right: auto;
    margin-left: 12px;
  }

  .u-section-3 .u-image-1 {
    width: 154px;
    height: 265px;
    margin-top: 363px;
    margin-right: 7px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    height: 221px;
    width: 316px;
    margin-top: -588px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    width: 154px;
    height: 265px;
    margin-top: 102px;
    margin-left: 8px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 60px;
    margin-right: 90px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 355px;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    height: 253px;
    margin-top: -422px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-5 {
    height: 247px;
    margin-top: 198px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 502px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 47px auto 0 58px;
}

.u-section-4 .u-image-1 {
  width: 249px;
  height: 249px;
  margin: 25px auto 0 59px;
}

.u-section-4 .u-image-2 {
  width: 249px;
  height: 249px;
  margin: -249px auto 0 317px;
}

.u-section-4 .u-image-3 {
  width: 249px;
  height: 249px;
  margin: -249px auto 0 575px;
}

.u-section-4 .u-image-4 {
  width: 249px;
  height: 249px;
  margin: -249px auto 60px 833px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 30px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 288px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 546px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 20px;
    margin-left: 662px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-3 {
    margin-top: 20px;
    margin-left: 442px;
  }

  .u-section-4 .u-image-4 {
    margin-left: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-2 {
    margin-top: 20px;
    margin-left: 262px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 262px;
  }

  .u-section-4 .u-image-4 {
    margin-left: 262px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1236px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 15px;
    margin-left: 30px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 15px;
    margin-left: 30px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 15px;
    margin-left: 30px;
  }
}