.u-section-1 .u-sheet-1 {min-height: 830px}
.u-section-1 .u-layout-wrap-1 {margin: -17px auto 28px 0}
.u-section-1 .u-layout-cell-1 {min-height: 825px}
.u-section-1 .u-container-layout-1 {padding: 28px 0 30px}
.u-section-1 .u-text-1 {font-size: 3.75rem; margin: 62px 613px 0 194px}
.u-section-1 .u-image-1 {width: 419px; height: 533px; margin: -90px 0 0 auto}
.u-section-1 .u-text-2 {font-size: 1.5rem; margin: -418px 460px 0 41px}
.u-section-1 .u-image-2 {height: 209px; margin: 25px 0 0 auto}
.u-section-1 .u-btn-1 {border-style: none; background-image: none; font-size: 2.25rem; font-weight: 400; text-transform: none; margin: -153px auto 0; padding: 20px 10px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 800px}
.u-section-1 .u-layout-wrap-1 {margin-bottom: 30px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 786px}
.u-section-1 .u-container-layout-1 {padding-bottom: 29px}
.u-section-1 .u-text-1 {width: auto; margin-right: 513px; margin-left: 85px}
.u-section-1 .u-image-1 {width: 370px; height: 494px; margin-right: 21px}
.u-section-1 .u-text-2 {font-size: 1.25rem; width: auto; margin-top: -345px; margin-right: 419px; margin-left: 23px}
.u-section-1 .u-image-2 {height: 173px; margin-top: 31px; margin-right: initial; margin-left: initial}
.u-section-1 .u-btn-1 {margin-top: -135px; margin-right: 308px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 650px}
.u-section-1 .u-layout-wrap-1 {margin-top: 1px; margin-bottom: 12px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 637px}
.u-section-1 .u-text-1 {font-size: 3rem; margin-top: 34px; margin-right: 339px; margin-left: 56px}
.u-section-1 .u-image-1 {width: 285px; height: 351px; margin-top: -52px; margin-right: 20px}
.u-section-1 .u-text-2 {font-size: 1.125rem; margin-top: -299px; margin-right: 319px; margin-left: 12px}
.u-section-1 .u-image-2 {height: 133px; margin-top: 11px; margin-right: initial; margin-left: initial}
.u-section-1 .u-btn-1 {margin-top: -115px; margin-right: 204px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 759px}
.u-section-1 .u-layout-cell-1 {min-height: 730px}
.u-section-1 .u-text-1 {margin-top: 0; margin-right: 82px; margin-left: 114px}
.u-section-1 .u-image-1 {width: 197px; height: 211px; margin-top: 8px; margin-right: auto}
.u-section-1 .u-text-2 {margin-top: 15px; margin-left: 15px; margin-right: 15px}
.u-section-1 .u-image-2 {height: 100px; margin-top: 8px; margin-right: initial; margin-left: initial}
.u-section-1 .u-btn-1 {font-size: 1.25rem; margin-top: -81px; margin-right: auto} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 746px}
.u-section-1 .u-layout-wrap-1 {margin-top: -17px; margin-bottom: 10px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 753px}
.u-section-1 .u-container-layout-1 {padding-bottom: 17px}
.u-section-1 .u-text-1 {font-size: 2.25rem; width: 216px; margin-left: auto; margin-right: auto}
.u-section-1 .u-image-1 {width: 175px; height: 212px; margin-top: 22px}
.u-section-1 .u-text-2 {font-size: 1rem; margin-top: 22px; margin-left: 0; margin-right: 0}
.u-section-1 .u-image-2 {height: 97px; margin-top: 41px; margin-right: initial; margin-left: initial}
.u-section-1 .u-btn-1 {font-size: 1.125rem; margin-top: -83px} }