.u-section-1 .u-sheet-1 {min-height: 371px}
.u-section-1 .u-layout-wrap-1 {margin: 22px auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 349px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {font-size: 3rem; background-image: none; width: 422px; margin: 48px auto 0}
.u-section-1 .u-text-2 {font-size: 1.125rem; line-height: 1.8; margin: 22px 0 0}
.u-section-1 .u-layout-cell-2 {min-height: 349px}
.u-section-1 .u-container-layout-2 {padding: 25px 30px}
.u-section-1 .u-image-1 {width: 391px; height: 298px; margin: 0 -16px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 332px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 310px}
.u-section-1 .u-text-1 {width: auto; margin-top: 27px; margin-right: 70px; margin-left: 43px}
.u-section-1 .u-layout-cell-2 {min-height: 288px}
.u-section-1 .u-image-1 {width: 285px; height: 217px; margin-right: 0; margin-left: 0} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 343px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-text-1 {margin-left: 0; margin-right: 0; width: 396px}
.u-section-1 .u-text-2 {font-size: 1rem}
.u-section-1 .u-layout-cell-2 {min-height: 321px}
.u-section-1 .u-image-1 {width: 204px; height: 155px; margin-left: -12px; margin-right: -12px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 467px}
.u-section-1 .u-layout-cell-1 {min-height: 292px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-1 {margin-top: 8px; margin-left: auto; margin-right: auto}
.u-section-1 .u-text-2 {margin-bottom: -14px}
.u-section-1 .u-layout-cell-2 {min-height: 205px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-1 {margin: 8px auto -8px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 537px}
.u-section-1 .u-layout-cell-1 {min-height: 304px}
.u-section-1 .u-text-1 {width: 320px; margin-top: -30px}
.u-section-1 .u-image-1 {margin-top: 0; margin-bottom: 0} }.u-section-2 .u-sheet-1 {min-height: 635px}
.u-section-2 .u-layout-wrap-1 {margin: -29px auto 23px 0}
.u-section-2 .u-layout-cell-1 {min-height: 672px}
.u-section-2 .u-container-layout-1 {padding: 30px 30px 15px}
.u-section-2 .u-text-1 {font-style: normal; font-size: 2.25rem; margin: 16px 0 0}
.u-section-2 .u-text-2 {font-size: 1.125rem; line-height: 1.8; margin: 28px 0 0}
.u-section-2 .u-layout-cell-2 {min-height: 672px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-image-1 {width: 283px; height: 221px; object-position: 50% 64.02%; margin: 83px auto 0 -1px}
.u-section-2 .u-text-3 {font-style: italic; font-size: 1rem; margin: 0 23px}
.u-section-2 .u-image-2 {width: 283px; height: 219px; margin: 19px auto 0 -1px}
.u-section-2 .u-text-4 {font-style: italic; font-size: 1rem; margin: 10px 28px 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 554px}
.u-section-2 .u-text-1 {margin-top: 0}
.u-section-2 .u-layout-cell-2 {min-height: 742px}
.u-section-2 .u-image-1 {height: 173px; margin-top: 126px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-text-3 {margin-left: 0; margin-right: 0}
.u-section-2 .u-image-2 {height: 172px; margin-top: 37px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-text-4 {margin-top: 0; margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-text-1 {font-size: 1.875rem}
.u-section-2 .u-text-2 {font-size: 1rem}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-image-1 {height: 122px; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-2 {height: 121px; width: auto; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 986px}
.u-section-2 .u-layout-wrap-1 {margin-top: 1px; margin-bottom: 1px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 678px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-layout-cell-2 {min-height: 262px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px; padding-bottom: 3px}
.u-section-2 .u-image-1 {width: 180px; margin-top: 14px; margin-right: auto; margin-left: 28px}
.u-section-2 .u-text-3 {width: auto; margin-top: 14px; margin-right: 284px}
.u-section-2 .u-image-2 {width: 151px; margin-top: -161px; margin-right: 26px; margin-left: auto}
.u-section-2 .u-text-4 {width: auto; margin-top: 15px; margin-left: 274px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 1340px}
.u-section-2 .u-layout-cell-1 {min-height: 1068px}
.u-section-2 .u-text-1 {font-size: 1.5rem}
.u-section-2 .u-layout-cell-2 {min-height: 236px}
.u-section-2 .u-container-layout-2 {padding-bottom: 23px}
.u-section-2 .u-image-1 {width: 160px; margin-top: 0; margin-left: 0}
.u-section-2 .u-text-3 {font-size: 0.75rem; margin-top: 8px; margin-right: 143px}
.u-section-2 .u-image-2 {margin-top: -149px; margin-right: auto; margin-left: 169px}
.u-section-2 .u-text-4 {font-size: 0.75rem; margin-top: 9px; margin-right: -24px; margin-left: 169px} }.u-section-3 .u-sheet-1 {min-height: 609px}
.u-section-3 .u-group-1 {min-height: 704px; width: 1140px; margin: 0 -3px 0 auto}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-text-1 {font-style: normal; font-size: 2.25rem; margin: 0 420px 0 0}
.u-section-3 .u-text-2 {font-size: 1.125rem; line-height: 1.8; margin: 12px 0 0}
.u-section-3 .u-video-1 {width: 239px; height: 200px; margin: 38px auto 0 415px}
.u-section-3 .u-text-3 {margin: -160px auto 0 319px}
.u-section-3 .u-video-2 {width: 240px; height: 200px; margin: -118px auto 0 23px}
.u-section-3 .u-shape-1 {width: 114px; height: 37px; margin: -118px 290px 0 auto}
.u-section-3 .u-video-3 {width: 240px; height: 200px; margin: -118px 35px 0 auto}
.u-section-3 .u-text-4 {font-size: 1.125rem; margin: 7px 248px 0 207px} 

@media (max-width: 1199px){ .u-section-3 .u-group-1 {min-height: 802px; width: 940px; margin-right: 0}
.u-section-3 .u-text-1 {margin-right: 217px}
.u-section-3 .u-video-1 {width: 214px; height: 171px; margin-left: 0}
.u-section-3 .u-text-3 {width: auto; margin-top: -131px; margin-left: 226px; font-size: 4.5rem}
.u-section-3 .u-video-2 {width: 188px; height: 171px; margin-left: 292px}
.u-section-3 .u-shape-1 {margin-top: -103px; margin-right: 264px}
.u-section-3 .u-video-3 {width: 195px; height: 169px; margin-top: -103px; margin-right: 57px}
.u-section-3 .u-text-4 {margin-top: 37px; margin-right: 148px; margin-left: 107px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 711px}
.u-section-3 .u-group-1 {min-height: 697px; margin-bottom: 14px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-container-layout-1 {padding-bottom: 20px}
.u-section-3 .u-text-1 {font-size: 1.875rem; margin-right: 0}
.u-section-3 .u-text-2 {font-size: 1rem}
.u-section-3 .u-video-1 {width: 133px; height: 130px; margin-top: 40px}
.u-section-3 .u-text-3 {margin-top: -116px; margin-left: 153px}
.u-section-3 .u-video-2 {width: 131px; height: 130px; margin-top: -93px; margin-left: 201px}
.u-section-3 .u-shape-1 {margin-top: -84px; margin-right: 203px}
.u-section-3 .u-video-3 {width: 127px; height: 129px; margin-top: -82px; margin-right: 64px}
.u-section-3 .u-text-4 {width: auto; margin-top: 12px; margin-right: 35px; margin-left: 0} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 818px}
.u-section-3 .u-group-1 {min-height: 810px; margin-top: -21px; margin-bottom: 30px; width: auto; margin-right: initial; margin-left: initial}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px; padding-bottom: 4px}
.u-section-3 .u-video-1 {width: 116px; height: 111px; margin-top: 20px; margin-left: 11px}
.u-section-3 .u-text-3 {margin-top: -88px; margin-left: 138px; font-size: 3.75rem}
.u-section-3 .u-video-2 {width: 115px; height: 113px; margin-top: -90px; margin-left: 182px}
.u-section-3 .u-shape-1 {width: 100px; margin-top: -74px; margin-right: 112px}
.u-section-3 .u-video-3 {width: 106px; height: 110px; margin-top: -74px; margin-right: 0}
.u-section-3 .u-text-4 {font-size: 1rem; margin-top: 13px; margin-right: -10px; margin-left: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 1014px}
.u-section-3 .u-group-1 {min-height: 1004px; width: 340px; margin: 5px -3px 5px auto}
.u-section-3 .u-text-1 {font-size: 1.5rem}
.u-section-3 .u-video-1 {width: 70px; height: 70px; margin-top: 5px; margin-left: 0}
.u-section-3 .u-text-3 {font-size: 2.25rem; margin-top: -55px; margin-left: 87px}
.u-section-3 .u-video-2 {width: 72px; height: 72px; margin-top: -56px; margin-left: 115px}
.u-section-3 .u-shape-1 {width: 45px; height: 20px; margin-top: -45px; margin-right: 77px}
.u-section-3 .u-video-3 {width: 70px; height: 70px; margin-top: -47px; margin-right: 3px}
.u-section-3 .u-text-4 {font-size: 0.875rem; margin-top: 5px; margin-left: 0; margin-right: 0} }